   # @gaspar09
   withspace/  @radishsalad
@gaspar09 @radishsalad
 test\ space @radishsalad
unused.txt @radishsalad
/root-only @radishsalad
root-dir/root-only @radishsalad
package.json @radishsalad
./current-dir
